*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav{
    background-color: lightgray;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    font-size: 1rem;
}

.nav-center h4{
    font-size: 1.5rem;
}

.nav-center .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    
}

li{
    padding: 0px 20px;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* background-color: rgb(196, 253, 255); */
}

.container h4{
    padding: 10px 50px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgb(12, 12, 11);
    color: lightcyan;
}

.container{
    font-size: 2rem;
    text-align: center;
    line-height: 40px;
    
}

.btn{
    margin-top: 20px;
    font-size: 1rem;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(106, 125, 233);
    font-weight: bold;
    cursor: pointer;
}



