*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',
    sans-serif;
    background-color: #f0f2f5;
}


.area{
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    float: left;
    width: 60%;
    margin-top: 50px;
    transform: translateX(60px);
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
}
.logo h3{
    transform: translate(0px, -150px);
    font-weight: 500;font-size: 26px;
    
}
.logo img{
    width: 320px;
    height: 230px;
    transform: translate(-38px, -80px);
}
.form{
    width: 40%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form .form-container{
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 20px;
    width: 95%;
    text-align: center;
}

.form .form-container input, .form .form-container .btn{
    width: 100%;
    margin: 5px 0;
    height: 50px;
    vertical-align: middle;
    font-size: 16px;
}

.form .form-container input{
    border: 1px solid #dddfe2;
    color: #1d2129;
    padding: 12px 20px;
    outline: none;
    border-radius: 5px;
}

.form .form-container input:focus{
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.form .form-container .btn{
    background-color: #1877f2;
    color: #ffffff;
    padding: 0 16px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
}

.form .form-container a{
    display: block;
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0 20px;
    border-bottom: 1px solid #dadde1;
    text-align: center;
}
.form .form-container a:hover{
    text-decoration: underline;    
}
.form .form-container .signUp{
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px;
}

.form p{
    font-size: 14px;
}

.form p a{
    text-decoration: none;
    color: #1c1e21;
}

.form p a:hover{
    text-decoration: underline;
}

.container{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

footer{
    background-color: #ffffff;
    height: 30vh;
    padding: 20px 0 0 60px;
}

footer ol{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px;
}

footer ol:first-child{
    border-bottom: 1px solid #dddfe2;
}

footer ol:first-child li:last-child button{
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    outline: none;
    color: #4b4f56;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 700;
}
footer .container .forMargin{
    margin-bottom: 20px;
}

footer ol li{
    padding-right: 10px;
    font-size: 10px;
    color: #385898;
}

footer ol li a{
    text-decoration: none;
    color: #4b5b7c;
    font-size: 12px;
}

footer ol li a:hover{
    text-decoration: underline;
}

footer small{
    font-size: 11px;
    color: #4b5b7c;
    padding: 0 0 0 10px;
    margin-top: 40px;
}